.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.blog {
	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;

  	.menubar {
  		position: absolute;
    	top: 0;
    	height: 100%;
    	width: 45px;
    	background-color: #2a2a2a;
    	user-select: none;

    	ul {
    		text-align: center;
    	}

    	li {
        position: relative;
        margin-top: 15px; 
        margin-bottom: 15px;
        height: 45px;

  			a {
  				display: block;
  				height: 100%;
          width: 100%;

          &:hover,&.router-link-active {
            background-color: #e37100;
          }
  			}

  			.icon,img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
  				color: #fff;
  				opacity: .9;
  				width: 25px;
  				height: 25px;
			  }
    	}
  	}

  	.container {
  		position: absolute;
    	left: 45px;
    	right: 0;
    	height: 100%;
    	border-left: 1px solid #ddd;
    	background-color: #fff;
  	}
}

