.message {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 90px;
    text-size-adjust: 100%;
	
	.title {
		font-size: 30px;
		line-height: 35px;
		margin-top: 20px;
		margin-bottom: 10px;
        padding-left: 15px;
        color: rgb(85, 85, 85);
	}

	.content {
		text-align: left;
    	font-size: 16px;
    	line-height: 1.6;
    	padding: 20px;
    	overflow: auto;
    	width: 100%;
    	word-wrap: break-word;
		
		> *:first-child {
			margin-top: 0 !important;
		}

    	h3 {
    		position: relative;
    		margin-top: 24px;
    		margin-bottom: 16px;
    		font-weight: bold;
    		font-size: 24px;
    		line-height: 1.43;
            color: inherit;
    	}

        h4,h5 {
            font-size: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
            color: inherit;
            font-weight: bold;
            line-height: 1.4;
        }

        pre {
            border: 1px solid #ddd;
            margin-bottom: 16px;
        }

        pre code {
            display: block;
            overflow-x: auto;
            background: #fefbec;
            color: #6e6b5e;
            padding: 0.5em;
        }

    	ul,ol {
    		font-size: 16px;
    		padding: 0;
    		padding-left: 32px;
    		margin-top: 0;
    		margin-bottom: 16px;
            list-style-type: decimal;
    	}

        p {
            margin-top: 0;
            margin-bottom: 16px;
        }

        a {
            color: #4094c7;
        }

        strong {
            color: #2f2f2f;
        }

        img {
            width: 24px;
            height: 24px;
        }
	}
}

@media (max-width: 867px) {
    .message {
        width:100%
    }
}   