.message {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 90px;
    text-size-adjust: 100%;
	
	.title {
		font-size: 30px;
		line-height: 35px;
		margin-top: 20px;
		margin-bottom: 10px;
        color: rgb(85, 85, 85);
	}

	.content {
		text-align: left;
    	font-size: 16px;
    	line-height: 1.6;
    	padding: 20px;
    	overflow: auto;
    	width: 100%;
    	word-wrap: break-word;
		
		> *:first-child {
			margin-top: 0 !important;
		}

    	h2,h3 {
    		position: relative;
    		margin-top: 24px;
    		margin-bottom: 16px;
    		font-weight: bold;
    		font-size: 24px;
    		line-height: 1.43;
            color: inherit;
            border-left: 10px solid #e37100;
            padding-left: 10px;
    	}

        h4,h5 {
            font-size: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
            color: inherit;
            font-weight: bold;
            line-height: 1.4;
        }

        pre {
            margin-bottom: 16px;
        }

        pre code {
            display: block;
            overflow-x: auto;
            background: #fefbec;
            color: #6e6b5e;
            padding: 0.5em;
            border: 1px solid #ddd;
            margin: 0;
        }

        code {
            border: 1px solid #ddd;
            background: #f6f6f6;
            padding: 3px;
            margin:0 5px;
            border-radius: 3px;
            font-size: 16px;
            color: #bf616a;
        }

    	ul,ol {
    		font-size: 16px;
    		padding: 0;
    		padding-left: 32px;
    		margin-top: 0;
    		margin-bottom: 16px;
            list-style-type: decimal;
    	}

        p {
            margin-top: 0;
            margin-bottom: 16px;
        }

        a {
            color: #4094c7;
        }

        strong {
            color: #2f2f2f;
        }

        img {
            max-width: 100%;
        }

        .emoji {
            width: 24px;
            height: 24px;
        }
	}
    
    .page {
        overflow: hidden;
        padding: 20px;
        
        a {
            border: 1px solid rgba(227, 113, 0, .4);
            background-color: rgba(227, 113, 0, .04);
            color: #e37100;
        }

        a:hover {
            color: #fff;
            background-color: rgba(227, 113, 0, 1);
        }

        .page-left {
            float: left;
        }

        .page-right {
            float: right;
        }        

        .pre {
            float: left;
            height: 45px;
            width: 45px;
            position: relative;
        }

        .next {
            float: right;
            height: 45px;
            width: 45px;
            position: relative;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ti {
            height: 45px;
            line-height: 45px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 867px) {
    .message {
        width:100%
    }
}   